snippet Y-m-d "Get date with format of YYYY-MM-DD"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet timestamp "Get timestamp with format of YYYY-MM-DD"
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet m/d/Y "Get date with format of MM/DD/YYYY"
`!v strftime("%m/%d/%Y")`
endsnippet
# vim:ft=snippets:
